NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ORDER_EMAIL=treaty.bloom@gmail.com
NEXT_PUBLIC_BUSINESS_PHONE=447795272359
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/treaty.bloom
NEXT_PUBLIC_INSTAGRAM_NAME=treaty.bloom
NEXT_PUBLIC_WHATSAPP_NAME=treaty.bloom
