NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ORDER_EMAIL=belfastsweetpresents@gmail.com
NEXT_PUBLIC_BUSINESS_PHONE=447795272359
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/treaty.bloom/
